<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.krcm110.myapplication">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".app.application.MyApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.example.krcm110.myapplication.app.ui.activity.ActivityLaunch"
            android:screenOrientation="portrait"><!--启动时强制竖屏-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".app.ui.activity.MainActivity"/>
        <activity android:name="com.example.krcm110.myapplication.app.ui.activity.ActivityService"/>
        <activity android:name="com.example.krcm110.myapplication.app.ui.activity.RetrofitActivity"/>
        <activity android:name="com.example.krcm110.myapplication.app.ui.activity.ActitityB" android:launchMode="singleTask"/>
        <activity android:name="com.example.krcm110.myapplication.app.ui.activity.ActitityC"/>
        <activity android:name="com.example.krcm110.myapplication.app.ui.activity.ActitityD"/>
        <!--测试动态布局-->
        <activity android:name="com.example.krcm110.myapplication.app.ui.activity.OnlyJavaLayoutActivity"/>
        <!--测试Handler的消息机制-->
        <activity android:name="com.example.krcm110.myapplication.app.ui.activity.ActivityHandle"/>
        <!--测试Activity事件分发机制-->
        <activity android:name="com.example.krcm110.myapplication.app.ui.activity.ActivityMotionEvent"/>
        <receiver android:name=".com.broadCast.AndroidStartComplete"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter >
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.MEDIA_UNMOUNTED"/>
                <data android:scheme="file">
                </data>
            </intent-filter>
        </receiver>

        <receiver android:name=".app.broadcast.BroadcastAlertDialog">
            <intent-filter>
                <action android:name="com.example.krcm110.myborcast"></action>
            </intent-filter>
        </receiver>

        <service android:name=".com.service.ServiceBinder"/>
        <service android:name=".com.service.ServiceBase"/>
        <service android:name=".app.service.ServiceForeground"/>
        <service android:name=".app.service.MyAidlService"
            android:enabled="true"
            android:exported="true"
            android:process=":aidl"/>
    </application>
</manifest>